<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Transportation</title>
</head>

<body
  style="font-family: 'Montserrat', sans-serif; font-size: 16px; padding: 0; margin: 0 0 10px 0; background-color: #000000;">

  <!-- Header -->
  <div class="header" style="margin: 60px 0px 20px;">
    <div class="container" style="padding-left: 15px; padding-right: 15px; margin-left: auto; margin-right: auto;">
      <div class="heading" style="text-align: center;">
        <h1 class="email-header"
          style="font-size: 30px; font-weight: 500; color: #fff; text-transform: uppercase; margin: 60px 0 30px;">
          Transportation Request</h1>
        <p style="color: #bda55d; font-size: 22px; font-weight: 600; margin-bottom: 30px;"><span>Date: </span>{{today}}</p>
        <hr style="max-width: 150px; height: 3px; border-color: #bda55d; background-color: #bda55d; margin: 0 auto;" />
      </div>
    </div>
  </div>
  <!-- Box Data -->
  <div class="content" style="max-width: 100%; margin: 10 auto;">
    <div class="container" style="padding-left: 15px; padding-right: 15px; margin-left: auto; margin-right: auto; margin-bottom: 15px;">
      <div class="box-data"
        style="max-width: 400px; background-color: rgba(255, 255, 255, 0.1); padding: 30px; border-radius: 35px; color: #fff; margin: 0 auto;">
        <div class="text" style="font-size: 18px; text-transform: capitalize; margin-bottom: 30px;">
          we kindly Transportation for the following Flight:
        </div>
        <div class="form-data">
          <div class="title" style="margin-bottom: 18px; font-size: 18px; font-weight: 200;">
            <span style="display: block; margin-bottom: 10px; color: #bda55d; font-weight: 500;">Traveler Name:</span>{{travelerName}}
          </div>
          <div class="title" style="margin-bottom: 18px; font-size: 18px; font-weight: 200;">
            <span style="display: block; margin-bottom: 10px; color: #bda55d; font-weight: 500;">Traveler Contact
              Number:</span> {{travelerContactNumber}}
          </div>
          <div class="title" style="margin-bottom: 18px; font-size: 18px; font-weight: 200;">
            <span style="display: block; margin-bottom: 10px; color: #bda55d; font-weight: 500;">Aircraft
              Registration:</span> {{aircraftRegistration}}
          </div>
          <div class="title" style="margin-bottom: 18px; font-size: 18px; font-weight: 200;">
            <span style="display: block; margin-bottom: 10px; color: #bda55d; font-weight: 500;">Flight Call
              Sign:</span> {{flightCallSign}}
          </div>
          <div class="title" style="margin-bottom: 18px; font-size: 18px; font-weight: 200;">
            <span style="display: block; margin-bottom: 10px; color: #bda55d; font-weight: 500;">Pickup Location:</span>
            {{pickupLocation}}
          </div>
          <div class="title" style="margin-bottom: 18px; font-size: 18px; font-weight: 200;">
            <span style="display: block; margin-bottom: 10px; color: #bda55d; font-weight: 500;">Drop Off
              Location:</span> {{dropOffLocation}}
          </div>
          <div class="title" style="margin-bottom: 18px; font-size: 18px; font-weight: 200;">
            <span style="display: block; margin-bottom: 10px; color: #bda55d; font-weight: 500;">Pickup Date &
              Time:</span> {{pickupDateTime}}
          </div>
          <div class="title" style="margin-bottom: 18px; font-size: 18px; font-weight: 200;">
            <span style="display: block; margin-bottom: 10px; color: #bda55d; font-weight: 500;">Car Type :</span>
            {{carType}}
          </div>
        </div>

        <!-- Comment -->
        <div class="comment" style="margin-top: 40px;">
          <div class="header-comment" style="display: block; font-size: 25px; font-weight: 600; margin-bottom: 20px;">
            <span>Comment:</span>
            
          </div>
          <div class="data" style="margin-top: 20px; font-size: 16px; font-weight: 600; max-width: 800px;">
            {{comment}}
          </div>
          
          {% if is_email%}
          <!-- Action Buttons -->
          <div class="btns" style="width: 100%; margin: 40px auto 0px; text-align: center;">
            <a href="{{download_link}}"
              style="color: #bda55d; font-size: 16px; font-weight: 600; background-color: rgba(217, 217, 217, 0.1); text-decoration: none; padding: 10px 20px; border-radius: 5px; border: 2px solid #bda55d;"><span>+
                Download Form</span>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>